.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: lightcyan;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: aquamarine;
}

.label {
  background-color: lightslategrey;
  font-size: 32px;
}

.coinFlipOutput {
  background-color: lightslategrey;
}

.numberInput {
  min-width: 250px;
  padding: 10px;
  margin-bottom: 20px;
}

.button {
  margin-top: 20px;
  padding: 20px;
  color: aquamarine;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}